

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right,rgb(0, 247, 255) 40%,rgb(225, 0, 255)) 
}



body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right,rgb(0, 247, 255) 40%,rgb(225, 0, 255)) 
}



.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing-demo {
    width: 25ch;
    animation: typing 2s steps(22), blink .8s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    font-weight: 560;
  }
  
@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    50% {
      border-color: transparent
    }
  }

  

.top-header {
    display: flex;
    justify-content: center;
    background-size: 50px;
}

.img-1 img{border-radius: 50%;
padding: 10px;}


.center-count {
  position: absolute; /* Positions the container at the top left */
  top: -5px; /* Sets the top position to 0 */
  right: 10px; /* Sets the left position to 0 */
  display: flex; /* Displays the items as a row */
  flex-direction: column; /* Stacks the items vertically */
  align-items: center;
}

.counter-container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: -10px;
   /* Left-aligns the number */
}
#countlabel {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  font-family: "Roboto", sans-serif;

}





.centered-link {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
}



.professional-summary {
  text-align: center;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
}


.line-break{
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    border: none; /* Remove default border to avoid overriding blue color */
    height: 2px; /* Specify height of the line */
    width: 700px;
    background-color: blue; /* Use background-color instead of border-color */
}


h3{position: relative;
text-align: center;
font-family: "Oswald", sans-serif;}


p{text-align: center;
margin: auto;
max-width: 700px;
font-family: "Roboto", sans-serif;
}


ul {
    width: 650px;
    margin: auto;
    column-count: 2;
    column-gap: 30px;
    font-family: "Roboto", sans-serif;
}

li{padding-bottom: 10px;}

.image-container {
    display: flex;
    justify-content: center;
    padding: 1%;
    height: 100px;
    width: auto; 
  }

.image-container img {
    max-width: 100%;
    margin: 0 25px; /* Adjust the margin to create space between images */
  }
  


  @media (max-width: 600px) {
    .container {
        padding: 10px; /* Decrease padding on smaller screens */
    }
}
