
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right,rgb(0, 247, 255) 40%,rgb(225, 0, 255)) 
}




.top-header {
    display: flex;
    justify-content: center;
    background-size: 50px;
}

.img-1 img{border-radius: 50%;}


.centered-link {
    display: flex;
    justify-content: center; /* Centers items horizontally */
}


.line-break{
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;
    border: none; /* Remove default border to avoid overriding blue color */
    height: 2px; /* Specify height of the line */
    width: 700px;
    background-color: blue; /* Use background-color instead of border-color */
}


h3{position: relative;
text-align: center;}


p{text-align: center;
margin: auto;
max-width: 700px;
}


ul {
    width: 650px;
    margin: auto;
    column-count: 2;
    column-gap: 30px;
}

li{padding-bottom: 10px;}

.image-container {
    display: flex;
    justify-content: center;
    padding: 1%;
    height: 120px;
    width: auto; 
  }

.image-container img {
    max-width: 100%;
    margin: 0 25px; /* Adjust the margin to create space between images */
  }
  


  @media (max-width: 600px) {
    .container {
        padding: 10px; /* Decrease padding on smaller screens */
    }
}
